@model List<Spieler>

@for (int i = 0; i < Model.Count; i++)
{
    <tr>
        @Html.HiddenFor(m => Model[i].Id)
        <td>
            @Html.DisplayFor(m => Model[i].Name)
        </td>
        <td>
            @Html.DisplayFor(m => Model[i].Vorname)
        </td>
        <td>
            @Html.CheckBoxFor(m => Model[i].Gewonnen1)
        </td>
        <td>
            @Html.CheckBoxFor(m => Model[i].Verloren1)
        </td>
        <td>
            @Html.TextBoxFor(m => Model[i].Saetze, new { @Value= 0  }) : @Html.TextBoxFor(m => Model[i].Saetze1, new { @Value = 0 })
        </td>
    </tr>
}



