@model Spieler

<tr>
    <td>@Html.DisplayFor(m => m.Name)</td>
    <td>@Html.DisplayFor(m => m.Vorname)</td>
    <td>@Html.DisplayFor(m => m.Gewonnen)</td>
    <td>@Html.DisplayFor(m => m.Verloren)</td>
    <td>@Html.DisplayFor(m => m.Saetze) : @Html.DisplayFor(m => m.Saetze1)</td>
    <td>@Html.DisplayFor(m => m.Spiele)</td>
    <td>@Html.DisplayFor(m => m.Gewinnquote)</td>
</tr>

